{% extends "base.html" %}

{% block content %}
<title>Measurables</title>
  <body>
    <div class="container">
      
      <div class="jumbotron jumbotron-fluid" href='/'>
        <a class="text-center btn-default" href='/modality'>
        <div class="container">
          <h1 class="display-4">Modalities</h1>
        </div>
      </a>
      </div>
    </div>
    <div class="container">
      <a class="h1 text-center" href='/measurable'>
      <div class="jumbotron jumbotron-fluid" href='/'>
        <div class="container">
          <h1 class="display-4">Measurables</h1>
        </div>
      </div>
    </a>
    </div>
    <div class="container">
      <a class="h1 text-center" href='/technology'>
      <div class="jumbotron jumbotron-fluid" href='/'>
        <div class="container">
          <h1 class="display-4">Technologies</h1>
        </div>
      </div>
    </a>
    </div>
  </body>
{% endblock %}  
</html>