{% extends "base.html" %}

{% block content %}
<title>Login</title>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form role="form" method='POST' action='/login'>
        <div class="form-group">
          <input type="text" name="email" class="form-control" id="url-box" placeholder="email" style="max-width: 300px;" autofocus required>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" id="url-box" placeholder="password" style="max-width: 300px;" autofocus required>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </body>
{% endblock %}  
</html>