{% extends "base.html" %}

{% block content %}
<title>Measurables</title>
  <body>
    <div class="container">
      <h1>Measurables</h1>
      <form role="form" method='GET' action='/measurable?'>
        <div class="form-group">
          <input type="text" name="search" class="form-control" id="url-box" placeholder="Search..." style="max-width: 300px;" autofocus required>
        </div>
        
      </form>
      <br>
      {% for measurable in measurables %}
        <div class="card">
          <div class="card-header">
            <h4>{{ measurable.name }}</h4>
          </div>
          <div class="card-body">
            <span class="badge badge-secondary">{{ measurable.modality }}</span>
            <p class="card-text">{{ measurable.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
{% endblock %}  
</html>